.root {
	/* Panel colors */
	-fx-base: white;
	-off-white: rgb(207, 207, 207);
	-cancel: rgb(255, 75, 75);
	-selected: rgb(15, 147, 255);

	/* Defaults */
	-fx-background: -fx-base;
	-fx-accent: -selected;
}

/* Table*/
.table-view,
.table-view .corner,
.table-view .column-header,
.table-view .column-header .label,
.table-view .column-header-background,
.table-view .column-header-background .filler {
	-fx-background-color: transparent;
	-fx-alignment: CENTER-LEFT;
}
.table-view .table-cell {
	-fx-border-color: transparent;
}
.table-row-cell:hover {
    -fx-text-background-color: -selected;
}
.table-row-cell:selected {
	-fx-background-color: -selected;
	-fx-text-background-color: black;
}

/* Scrollbar */
.scroll-bar{
	-fx-background-color: -fx-base;
	-fx-background-radius: 0;
}
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
	-fx-background-color: -off-white;
	-fx-background-insets: 0 3 0 3;
	-fx-background-radius: 0;
}
.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
	-fx-background-color: -selected;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
}

/* Text fields */
.text-field {
    -fx-background-color: -off-white, -fx-base;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: -selected, -fx-base;
}